$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
$toolbar-width: 55px;
$propspanel-width: 0px; //0px - invisible
$subbar-height:40px;
$navbar-height:52px;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

//@import "../styles/modeler.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  margin: 0;
}

//---------SVG Sprites----------//

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 2em;
    height: 2em;
    fill: currentColor;
}

/************** Modeler styles **************/

//Bootstrap overrides
.navbar {
  border-radius: 0;
  border: none;
  background-color: #328836;

  a.navbar-brand {
    color:#fff;
  }
}

.visible {
  display: block !important;
}

.hidden {
  display: none !important;
}

//Toolbar
div.modeler-toolbar-container {
  position: absolute;
  left:0;
  top:$navbar-height;
  bottom:0;
  overflow-y:auto;
  overflow-x:hidden;
  background-color: #1c2b36;
  width:$toolbar-width;
  padding-top:5px;

  ul.modeler-toolbar, ul.modeler-subbar {
    display: none;
    margin: auto;
    width:30px;

    li {
      padding:4px 0px 0px 0px;

      a {
        color:#929397;

        &:hover {
          color: #fff;
        }
      }

      &.separator {
        border-bottom: 1px solid #328836;
        margin: 5px -5px !important;
        background: none;
      }

      &.separator:hover {
        background: none !important;
      }
    }
  }
}

//Canvas
div.modeler-canvas-container {
  position: absolute;
  top:$navbar-height + $subbar-height;
  left:$toolbar-width;
  right:$propspanel-width;
  bottom:20px;
  overflow: hidden;

  div.modeler-canvas-scroll {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: scroll;

    div.modeler-paper {
      border: 1px solid #A5ACB5;
      display: inline-block;
      box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.75);
      margin: 10px;
    }
  }
}

div.modeler-statusbar {
  position: absolute;
  bottom:0;
  left: $toolbar-width;
  right:0;
  background-color: #f8f8f8;
  border-style: solid;
  border-color: #e7e7e7;
  overflow: hidden;
  max-height: 20px;
  font-size: 0.8em;
  border-width: 1px 0 0 0;
  padding-left:10px;
}

div.modeler-properties {
  position: absolute;
  top: $navbar-height;
  right:0;
  bottom:0;
  width:$propspanel-width;
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 0 0 0 1px;
}